[Unit]
Description=Prometheus exporter for Postfix
Documentation=https://github.com/sergeymakinen/postfix_exporter
After=network-online.target

[Service]
Restart=always
ExecStart=/usr/local/bin/postfix-exporter \
{% for item in postfix_exporter_args %}
  {{ item }} \
{% endfor %}
  --web.listen-address {{ postfix_exporter_listen_address }}

[Install]
WantedBy=default.target
